/* #region = GLOBAL */
html {
  -webkit-font-smoothing: antialiased;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 500;
  line-height: 1.1;
  min-height: 100svh;
  text-rendering: optimizeSpeed;
  margin: 0;
  color: hsl(0, 0%, 100%);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

a:not([class]) {
  text-decoration: none;
  color: inherit;
}

[role=list],
[role=list] {
  list-style: none;
  margin: 0;
  padding: 0;
}

ol {
  counter-reset: custom-counter;
}
ol li {
  counter-increment: custom-counter;
}
ol li::before {
  content: counter(custom-counter) ".";
  position: absolute;
  left: 0;
  top: 0;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
textarea,
select,
button {
  font: inherit;
}

button {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  color: inherit;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}

/* #endregion = GLOBAL */
.u-text-preset-1 {
  font-size: 1.25rem;
  line-height: 1.2;
}

.u-text-preset-2 {
  font-size: 0.813rem;
}

.u-text-preset-3 {
  font-size: 0.813rem;
  line-height: 1.4;
}

.u-text-preset-4 {
  font-size: 0.688rem;
}

main {
  background-color: hsl(300, 5%, 96%);
  min-height: 100svh;
  padding: clamp(4.5rem, 2rem + 7vw, 5rem) clamp(2rem, 0.5rem + 6vw, 4rem);
}

.o-container_cards {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.o-container_img {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.c-card {
  box-shadow: 2.5rem 3.75rem 3.125rem -2.938rem hsla(217, 19%, 35%, 0.25);
  border-radius: 0.5rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: hsl(0, 0%, 100%);
}

.c-img {
  border-radius: 50%;
  line-height: 0;
}

.u-border_color\:light {
  border: 0.125rem solid hsla(0, 0%, 100%, 0.3);
}

.u-border_color\:dark {
  border: 0.125rem solid hsla(0, 0%, 0%, 0.2);
}

.u-bg_color\:purple {
  background-color: hsl(263, 55%, 52%);
}

.u-bg_color\:gray {
  background-color: hsl(217, 19%, 35%);
}

.u-bg_color\:dark-blue {
  background-color: hsl(219, 29%, 14%);
}

.u-font_color\:gray-500 {
  color: hsl(217, 19%, 35%);
}

.u-font_color\:gray-400 {
  color: hsl(224, 10%, 45%);
}

.u-font_color\:gray-200 {
  color: hsl(0, 0%, 81%);
}

.u-font_color\:gray-100 {
  color: hsl(214, 17%, 92%);
}

.u-font_color\:purple-50 {
  color: hsl(260, 100%, 95%);
}

.c-icon {
  display: none;
}

@media (min-width: 768px) {
  main {
    display: flex;
    justify-content: center;
    padding: clamp(4.5rem, 2rem + 7vw, 5rem) clamp(4rem, 0.5rem + 7vw, 8rem);
  }
  .o-container_cards {
    display: grid;
    grid-template: repeat(4, auto)/repeat(2, 1fr);
    grid-template-areas: "row-1 row-1" "row-2L row-2R" "row-3 row-3" "row-4 row-4";
    max-width: 50rem;
  }
  .c-card:nth-of-type(1) {
    grid-area: row-1;
  }
  .c-card:nth-of-type(2) {
    grid-area: row-2L;
  }
  .c-card:nth-of-type(3) {
    grid-area: row-2R;
  }
  .c-card:nth-of-type(4) {
    grid-area: row-3;
  }
  .c-card:nth-of-type(5) {
    grid-area: row-4;
  }
  .u-text-preset-1 {
    position: relative;
  }
  .c-card:nth-of-type(1) {
    position: relative;
  }
  .c-icon {
    display: inline-block;
    fill: hsl(264, 82%, 70%);
    position: absolute;
    top: 0;
    right: clamp(10%, 35% - 10vw, 20%);
  }
}
@media (min-width: 1200px) {
  main {
    align-items: center;
  }
  .o-container_cards {
    grid-template: repeat(2, auto)/repeat(4, 1fr);
    grid-template-areas: "top-1 top-1 top-2 right" "bottom-1 bottom-2 bottom-2 right";
    max-width: 70rem;
  }
  .c-card:nth-of-type(1) {
    grid-area: top-1;
  }
  .c-card:nth-of-type(2) {
    grid-area: top-2;
  }
  .c-card:nth-of-type(3) {
    grid-area: bottom-1;
  }
  .c-card:nth-of-type(4) {
    grid-area: bottom-2;
  }
  .c-card:nth-of-type(5) {
    grid-area: right;
  }
}/*# sourceMappingURL=style.css.map */